.form .title{
    font-size: 20px;
    color: #99968f;
    font-weight: bold;
    padding: 1vw 2vw;
}

.form-item{
    border-bottom: 1px solid #bfd84f;
    background-color:#fff8f1;
}

.condition, .range, .item-buttons{
    display: flex;
    padding: 2vw;
}

.condition select, .inputs input, .inputs select{
    width: 70%;
    height: 6vh;
    border-radius: 7px;
    outline: none;
}

.inputs{
    width: 70%;
}

.condition span, .range .range-title, .range .type-title, .range .status-title {
    align-self: center;
    width: 30%;
    color: rgb(46, 168, 30);
    font-size: 20px;
    font-weight: bold;
}

.range-title span, .type-title span, .status-title span{
    align-self: center;
    width: 30%;
    color: #000;
    font-size: 15px;
    font-weight: normal;
}

.inputs input{
    width: 30%;
    height: 5vh;
}

.or{
    display: inline;
    margin-right: 7px;
    padding: 5px;
}